/*budget csss */
.chart-wrap {
  margin-left: 50px;
  font-family: sans-serif;
  width: 300px;
  height: 70px;
}
.chart-wrap .title {
  font-weight: bold;
  font-size: 1.62em;
  padding: 0.5em 0 1.8em 0;
  text-align: center;
  white-space: nowrap;
}
.chart-wrap.vertical .grid {
  transform: translateY(-175px) translateX(175px) rotate(-90deg);
}
.chart-wrap.vertical .grid .bar::after {
  transform: translateY(-50%) rotate(45deg);
  display: block;
}
.chart-wrap.vertical .grid::before,
.chart-wrap.vertical .grid::after {
  transform: translateX(-0.2em) rotate(90deg);
}
.chart-wrap .grid {
  position: relative;
  padding: 5px 0 5px 0;
  height: 100%;
  width: 100%;
  border-left: 2px solid #aaa;
  background: repeating-linear-gradient(
    90deg,
    transparent,
    transparent 19.5%,
    rgba(170, 170, 170, 0.7) 20%
  );
}
.chart-wrap .grid::before {
  font-size: 0.8em;
  font-weight: bold;
  content: "0%";
  position: absolute;
  left: -0.5em;
  top: -1.5em;
}
.chart-wrap .grid::after {
  font-size: 0.8em;
  font-weight: bold;
  content: "100%";
  position: absolute;
  right: -1.5em;
  top: -1.5em;
}
.chart-wrap .bar {
  width: var(--bar-value);
  height: 50px;
  margin: 30px 0;
  background-color: #f16335;
  border-radius: 0 3px 3px 0;
}
.chart-wrap .bar:hover {
  opacity: 0.7;
}
.chart-wrap .bar::after {
  content: attr(data-name);
  margin-left: 100%;
  padding: 10px;
  display: inline-block;
  white-space: nowrap;
}

/* overall task status */
.pie-chart-div {
  width: 350px;
  border: 1px solid grey;
  display: inline-block;
  margin-top: 0px;
}

#pie-chart-container {
  display: flex;
  align-items: center;
}

#pie-chart {
  background: conic-gradient(
    green 95deg,
    red 95deg 125deg,
    yellow 125deg 190deg,
    grey 190deg 360deg
  );
  margin-left: 15%;
  margin-bottom: 5%;
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

#legenda {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 200px;
}

.entry {
  display: flex;
  align-items: center;
}

.entry-color {
  height: 10px;
  width: 10px;
}

.entry-text {
  margin-left: 5px;
}

#color-green {
  background-color: green;
}

#color-red {
  background-color: red;
}

#color-yellow {
  background-color: yellow;
}

#color-grey {
  background-color: grey;
}
.horizantal {
  padding-left: 2%;
  margin-top: -35px;
}
.third-div {
  display: flex;
}
.budget {
  display: inline-block;
}
/* Dropup Button */
.dropbtn {
  background-color: #15bfe6;
  color: white;
  padding: 20px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropup content */
.dropup {
  position: relative;
  display: inline-block;
}

/* Dropup content (Hidden by Default) */
.dropup-content {
  display: none;
  position: absolute;
  bottom: 50px;
  background-color: #12b2ca;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropup */
.dropup-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropup links on hover */
.dropup-content a:hover {background-color: #ddd}

/* Show the dropup menu on hover */
.dropup:hover .dropup-content {
  display: block;
}

/* Change the background color of the dropup button when the dropup content is shown */
.dropup:hover .dropbtn {
  background-color: #2980B9;
}